#                                                Assignment 2

### 1- List

In [1]:
list1=[78,"Alaa",65,90,False]
print("List 1 : ", list1)

list2=[5,"Alaa",True,(90,12),7.2]
print("List 2 : ", list2)

List 1 :  [78, 'Alaa', 65, 90, False]
List 2 :  [5, 'Alaa', True, (90, 12), 7.2]

### 2- Sets

In [10]:
set1={90,45,10,78,(89,99),False}
set2={54,87,True,78,(5,3),False}
set2,set1

({(5, 3), 54, 78, 87, False, True}, {(89, 99), 10, 45, 78, 90, False})

### 3- dict

In [11]:
dic1={'Name':'Alaa' , 'Age' : 21.5 , 'Single' : True  , 'Married' : False , 'Salary' :5000 }
dic2={'Name':'Omar' , 'Age' : 27.5 , 'Single' : False , 'Married' : True  , 'Salary' :9000 }
print("",dic1,"\n",dic2)

 {'Name': 'Alaa', 'Age': 21.5, 'Single': True, 'Married': False, 'Salary': 5000}
 {'Name': 'Omar', 'Age': 27.5, 'Single': False, 'Married': True, 'Salary': 9000}

### 3- tuples

In [12]:
tuple1=('Alaa Khaled' , 25.5 , 'Single' , 5000)
tuple2=('Khaled' , 54.5 , 'Married' , 9000)
print("",tuple1,"\n",tuple2)

 ('Alaa Khaled', 25.5, 'Single', 5000)
 ('Khaled', 54.5, 'Married', 9000)