#                                                Assignment 5

### 1- create a list contain 50 number  with for loop

In [4]:
import random

In [57]:
x = 0 
list = []

for x in range (50):
   # x = random.randint(0,150)#random intger number
    list.append(x)
print(list )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

## 2- create if statment that returne a boolean .

In [56]:
num1=5;num2=6
if num1 > num2 :
    print("True")
else : 
    print("False")

False

# 3 - extra point :
###### create a program with for loop and if statment that chick tf the string is upper case or not , and if the string is lower case convert it to upper case .

In [52]:
list = ["ALAA","Omar","TAHA","ahmed","mohamed"]
for up in list : 
    if up.isupper()== False:
        print(list.index(up))
        print(up.upper() , " --> " , up.upper())
        list[list.index(up)]= up.upper()
list

1
OMAR  -->  OMAR
3
AHMED  -->  AHMED
4
MOHAMED  -->  MOHAMED

['ALAA', 'OMAR', 'TAHA', 'AHMED', 'MOHAMED']

In [2]:
list = ["AlaaHJhdksd khsa"]
for up in list : 
    if up.isupper()== False:
        print(list.index(up))
        print(up.upper() , " --> " , up.upper())
        list[list.index(up)]= up.upper()
list

0
ALAAHJHDKSD KHSA  -->  ALAAHJHDKSD KHSA

['ALAAHJHDKSD KHSA']