In [12]:
class University : 
    def __init__(self,instructor = [] , courses = []):
        self.instructor = instructor
        self.courses=courses
        
    def set_instructor (self,name):
        self.instructor.append(name)
    def set_courses (self,name):
        self.courses.append(name)
        
    def get_instructor (self):
        return f'Instructor in university : \n {self.instructor}'
    def get_courses (self):
        return f"Courses in university : \n  {self.courses} "

In [28]:
teacher1 = University()
teacher1.set_instructor("Alaa Khaled Shehata")

In [29]:
teacher1.set_courses("Data Mining")

In [40]:
class Student(University):
    def __init__(self,name ="" , id =0 , gender =""):
        
        self.name = name
        self.id = id
        self.gender = gender
        
    def get_info (self):
        return f"Name : {self.name} \n ID : {self.id} \n Gender : {self.gender}"

In [41]:
student1 = Student("Alaa Khaled" , 181050011 , "Male")

In [42]:
student1.get_info()

'Name : Alaa Khaled \n ID : 181050011 \n Gender : Male'

In [43]:
class Teacher : 
    def __init__(self,student = [""] , courses = [""]):
        self.student = student
        self.courses=courses
        self.student.append(name)
        
   
    def get_info (self):
        return f"Courses in university : \n  {self.courses} \n Student in university : \n  {self.student} "

In [44]:
t1 = Teacher()
t1.get_info()

'Courses in university : \n  [] \n Student in university : \n  [] '

In [45]:
class Student (Teacher):
    def __init__(self,name):
        super().__init__()
        self.student.append(name)

In [48]:
s1 = Student("Alaa")

In [49]:
s1.get_info()

"Courses in university : \n  [] \n Student in university : \n  ['Alaa'] "

In [50]:
s2 = Student("Omar")

In [51]:
s2.get_info()

"Courses in university : \n  [] \n Student in university : \n  ['Alaa', 'Omar'] "

In [55]:
class Courses  (Teacher):
    def __init__(self,name=[]):
        super().__init__()
        self.courses .append(name)

In [56]:
c1=Courses("a","b")

TypeError: __init__() takes from 1 to 2 positional arguments but 3 were given

In [54]:
c1.get_info()

"Courses in university : \n  ['Python'] \n Student in university : \n  ['Alaa', 'Omar'] "