#                                                Assignment 3

## 1- Dic

##### *update

In [74]:
dic1 = {"Name" : "Alaa" , "Age" : 21 , "Salary" : 4500}
dic1["Gender"] = "Male"
dic1

{'Name': 'Alaa', 'Age': 21, 'Salary': 4500, 'Gender': 'Male'}

In [75]:
dic1.update({"Social Situation" : "Single"})
dic1

{'Name': 'Alaa',
 'Age': 21,
 'Salary': 4500,
 'Gender': 'Male',
 'Social Situation': 'Single'}

##### *copy

In [76]:
dic2 = dic1.copy()

##### *key and item

In [77]:
dic1.keys()

dict_keys(['Name', 'Age', 'Salary', 'Gender', 'Social Situation'])

In [78]:
dic1.items()

dict_items([('Name', 'Alaa'), ('Age', 21), ('Salary', 4500), ('Gender', 'Male'), ('Social Situation', 'Single')])

##### *pop --> remove index

In [79]:
dic1.pop("Social Situation")

'Single'

In [80]:
dic1

{'Name': 'Alaa', 'Age': 21, 'Salary': 4500, 'Gender': 'Male'}

##### *get

In [81]:
dic1.get("Salary")

4500

##### *fromkeys  --> new value for all keys

In [82]:
dic1= dic1.fromkeys(dic1,"Null")
dic1

{'Name': 'Null', 'Age': 'Null', 'Salary': 'Null', 'Gender': 'Null'}

### *Dictionary - Comprehensions

In [76]:
name = ["Alaa","Ali","Omar","Omran"]
#code = [1,2,3,4]
degree = [98,94,99,81]
final = list(zip(name,degree))
print(len(name),len(code),len(degree))# لازم يكونو نفس الحجم لو واحده زادت مش هتتكتب
print(type)
print(final)

4 4 4
<class 'type'>
[('Alaa', 98), ('Ali', 94), ('Omar', 99), ('Omran', 81)]

In [75]:
dic = {name : age  for name,age in final}
dic

{'Alaa': 98, 'Ali': 94, 'Omar': 99, 'Omran': 81}

## 2- List
##### *Append

In [72]:
list1 = ['Alaa', 'Omar', 'Ahmed']
print("Before append : " , list1)
list1.append("Ali")
print("After append  : " , list1)

Before append :  ['Alaa', 'Omar', 'Ahmed']
After append  :  ['Alaa', 'Omar', 'Ahmed', 'Ali']

##### *Copy

In [2]:
list2=list1.copy()
list2

['Alaa', 'Omar', 'Ahmed', 'Ali']

##### *Count

In [3]:
list2.count("Alaa")

1

##### *Extend

In [4]:
list3=["Ahmed",45,"Omar"]
list1.extend(list3)
list1

['Alaa', 'Omar', 'Ahmed', 'Ali', 'Ahmed', 45, 'Omar']

##### *Index

In [5]:
list1.index(45)

5

In [6]:
list1[5]

45

In [7]:
list1[::2]

['Alaa', 'Ahmed', 'Ahmed', 'Omar']

In [8]:
list1[::-2] # reverse list

['Omar', 'Ahmed', 'Ahmed', 'Alaa']

##### *Insert

In [12]:
list1

['Alaa', 'Omar', 'Ahmed', 'Ali', 'Ahmed', 45, 'Omar']

In [13]:
list1.insert(7,"Hossam")
list1.index("Hossam")

7

In [14]:
list1

['Alaa', 'Omar', 'Ahmed', 'Ali', 'Ahmed', 45, 'Omar', 'Hossam']

In [15]:
list1.insert(-1,"Mustafa")
list1.index("Mustafa")

7

In [16]:
list1

['Alaa', 'Omar', 'Ahmed', 'Ali', 'Ahmed', 45, 'Omar', 'Mustafa', 'Hossam']

In [18]:
list1.insert(0,"Taha")
list1.index("Taha")

0

In [22]:
print(list1)

['Taha', 'Alaa', 'Omar', 'Ahmed', 'Ali', 'Ahmed', 45, 'Omar', 'Mustafa', 'Hossam']

##### *pop() --> remove index

In [23]:
print(list1[0])
list1.pop(0)

Taha

'Taha'

In [24]:
list1

['Alaa', 'Omar', 'Ahmed', 'Ali', 'Ahmed', 45, 'Omar', 'Mustafa', 'Hossam']

##### *remove() --> remove value

In [25]:
list1.remove("Omar")

In [26]:
list1

['Alaa', 'Ahmed', 'Ali', 'Ahmed', 45, 'Omar', 'Mustafa', 'Hossam']

##### *reverse()

In [28]:
list1.reverse()

In [29]:
list1

['Hossam', 'Mustafa', 'Omar', 45, 'Ahmed', 'Ali', 'Ahmed', 'Alaa']

##### *sort()

In [30]:
lists = [32,12,5,43,21]
lists

[32, 12, 5, 43, 21]

In [36]:
lists.sort()
lists

[5, 12, 21, 32, 43]

In [40]:
lists2 = ["Alaa","Ahmed","Omar"]
lists2.sort()
lists2

['Ahmed', 'Alaa', 'Omar']

##### *clear()  --> remove all value

In [43]:
lists2.clear()
lists2

[]

##### *del()  --> remove list

In [44]:
lists2

[]

In [45]:
del(lists2)

In [46]:
lists2

NameError: name 'lists2' is not defined

### *list Comprehension  --> اقدر اعمل ليست في رينج معين في سطرواحد

In [5]:
list(range(32,42))

[32, 33, 34, 35, 36, 37, 38, 39, 40, 41]

In [11]:
list1 = list(range(87,100))
list1

[87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

### list Comprehension --> for loop

In [12]:
list7 = [x for x in range(10)]
list7

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list7 = [x**2 for x in range (1,6)] 
list7

[1, 4, 9, 16, 25]

In [17]:
list1 = [35,32,12,23]

In [18]:
list1=[x+5 for x in list1]# ع سبيل المثال درجات الطلاب عاوز ازودهم كلهم بدل الفور لوب بستخدم الطريقه ده

In [19]:
list1

[40, 37, 17, 28]

In [20]:
liststr = [x for x in "Alaa"]
liststr

['A', 'l', 'a', 'a']

### list Comprehension --> if

In [22]:
list1 = [34,32,11,34,67,6,4,9]
listeven = [x for x in list1 if x%2 == 0]
listodd = [x for x in list1 if x%2 != 0]
listeven, listodd

([34, 32, 34, 6, 4], [11, 67, 9])

In [32]:
temperature_celsius = [40,39,34,30]
temperature_fahrenheit = [((9/5)*x+32) for x in temperature_celsius ]
temperature_fahrenheit

[104.0, 102.2, 93.2, 86.0]

In [33]:
temperature_celsius = [40,39,34,30]
temperature_fahrenheit = [int(((9/5)*x+32)) for x in temperature_celsius ]
temperature_fahrenheit

[104, 102, 93, 86]

### *enumerate --> فصل وترقيم

In [71]:
list1 = ["Alaa","Ali","Mahmoud"]
list(enumerate(list1,0))

[(0, 'Alaa'), (1, 'Ali'), (2, 'Mahmoud')]

In [72]:
list(enumerate("Alaa",0))

[(0, 'A'), (1, 'l'), (2, 'a'), (3, 'a')]

In [74]:
for x ,y in enumerate(list1,0):
    print(f"The Student {x} = {y}")

The Student 0 = Alaa
The Student 1 = Ali
The Student 2 = Mahmoud