In [4]:
import time

In [5]:
list(range(32,42))

[32, 33, 34, 35, 36, 37, 38, 39, 40, 41]

In [6]:
list1=[x**3 for x in range(10)]
list1

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [7]:
list1 = [35,32,12,23]

In [8]:
list1=[x+5 for x in list1]# ع سبيل المثال درجات الطلاب عاوز ازودهم كلهم بدل الفور لوب بستخدم الطريقه ده

In [9]:
list1

[40, 37, 17, 28]

In [10]:
liststr = [x for x in "Alaa"]
liststr

['A', 'l', 'a', 'a']

In [11]:
list1 = [34,32,11,34,67,6,4,9]
list2 = [x for x in list1 if x%2 == 0]
list3 = [x for x in list1 if x%2 != 0]
list2

[34, 32, 34, 6, 4]

In [12]:
list3

[11, 67, 9]

In [13]:
str.split('Alaa ',' Khaled')

['Alaa ']

In [14]:
x=1
if x>6 : 
    print("ddd")
elif (x<6) : 
    print("fjg")

fjg

In [26]:
start = time.time()
def area_cir (r) : 
    return 3.14 * r **2

l = int(input("Enter length : "))
num = []
for x in range (l) : 
   #user = int(input(f"Enter number [{x+1}] :  "))
    num.append(x)
    #print(area_cir(num[x]))
    
m = list(map(area_cir,num))    
print(m)

finsh = time.time()
print (finsh - start)

Enter length : 5
[0.0, 3.14, 12.56, 28.26, 50.24]
1.351118564605713

In [46]:
c = ["ALAA","Omar","Ahmed"]
m = list(map(list,c))
m
c[0].isupper()

True

In [36]:
t = [1,2,5] 
user = 0
m = []
def sq (t) : return t**2
for x in t :
    user = sq(x)
    m.append(user)
 # or   
another_sol = list(map(sq,t))     
    
print(m)
print(another_sol)

[1, 4, 25]
[1, 4, 25]

In [41]:
degree = [23,20,18,13]
pons = [2,6,7,8]
pons2 = [1,2,1,3]

def sumd (x,y,z) : return x+y+z

m = list(map(sumd , degree,pons,pons2))
m

[26, 28, 26, 24]

# الفلتر بيشوف الشرط صح ولا غلط لو صح بيرجعه لو غلط مش بيرجعه
# الماب بتشوف الشرط صح ولا غلط ولو غلط بترجع none

In [59]:
num = [2,4,45,8]
def sq (x) :  
    if x%2==0 :
        return x

m = list(map(sq,num))
m

[2, 4, None, 8]